<%= form_with(model: [post, post.comments.build]) do |form| %>

  <div>
    <%= form.label :content, "Your Comment:", style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "Add Comment" %>
  </div>
<% end %>
